:root {
  --main_color: #6c88a5a6;
  --secondary_color: #afa695cc;
  --whiteish: #e3dfd7f5;
  --brownsih: #804e3288;
  --blackish: #0c0c0cbd;
}

* {
  padding: 0px;
  margin: 0px;

  letter-spacing: 1px;
  font-family: cursive;
}

header {
  background: url(pictures/barber-shop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.logo_img {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.logo {
  border-radius: 100%;
  position: absolute;
  top: 7rem;
  width: 12%;
}

section ul {
  width: 100%;
  list-style:none;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
}

section li {
  height: 50px;
}

section a {
  height: 100%;
  padding: 0px 70px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

.navbar {
  width: 400px;
  height: 100%;
  background-color: var(--main_color);
  z-index: 998;

  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.8s;
  backdrop-filter: blur(40px);
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 999;
  
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 40px;
  height: 5px;
  background-color: var(--whiteish);
  transition: all 0.5s;
  border-radius: 20px;
}

.hambi .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 11px);
}

.hambi .line-2 {
  opacity: 0;
}

.hambi .line-3 {
  transform: rotateZ(45deg) translate(-8px, -11px);
}

.nav-list {
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.navlink {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--whiteish);
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.navlink::before, .navlink::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--whiteish);
  position: absolute;
  right: 0;

  transform: scaleX(0);
  transition: transform 0.5s;
}

.navlink::after {
  bottom: 0;
  transform-origin: left;
}

.navlink::before {
  top: 0;
  transform-origin: right;
}

.navlink:hover::before,.navlink:hover::after {
  transform: scaleX(1); 
}

.navlink li {
  width: 100%;
}

.script {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  flex-direction: column;
  width: 100%;

  color: var(--whiteish);
}

.script h1 {
  padding-bottom: 5vh;
  font-size: 40px;
}

.barberek-swiper .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  color: var(--whiteish);
  font-size: 42px;
  font-weight: 600;
  background-color: #596072da;
  backdrop-filter: blur(10px);
  width: 400px;
  height: 80px;
  border: none;
  transition: 0.2s ease;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  background-color: #59607296;
}
/*
.barberek {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32vh;
  background: #393535;
  overflow: hidden;
}

.card-list .card-item {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 25px 0px 15px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  font-size: 2rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-item {
  justify-content: space-between;
  scale: 99%;
}

.card-list .card-item .user-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 40px;
  border-radius: 50%;
  margin-bottom: 40px;
  padding: 4px;
}

.card-list .card-item .reserv-button {
  font-size: 1.4rem;
  padding: 10px 35px;
  margin-top: 30px;
  color: #030728;
  border-radius: 6px;
  font-weight: 400;

  cursor: pointer;

  border: 1px solid transparent;
  background: #f5f5f5;
  transition: 0.2s ease;
}

.card-list .card-item .reserv-button:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  color: #fff
}
*/

/*  COLORS

#f1f1f1
rgba(0, 0, 255, 0.825)
rgba(255, 0, 0, 0.802)

*/

.pricing {
  width: 100%;

  background-color: var(--main_color);
  padding-top: 5vh;
  position: relative;
}

.pricing_txt {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8vh 0vh 5vh 0vh;
  font-size: 42px;
  color: var(--whiteish);
  font-weight: 600;
  position: relative;
}

.barber-senior-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 6vh;
  margin-top: 14vh;
  padding: 3px;
  position: relative;
}

.barber-senior-btn button {
  background-color: var(--whiteish);

  scale: 110%;
  padding: 8px 10px;
  border: none;
  border-radius: 7px;
  font-size: 35px;
  color: #393939;
}

.barber-senior-btn .barber-btn {
  margin-right: 25vh;
}

.barber-senior-btn button:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

.pricing .barber_prices {
  width: 100%;
  padding-bottom: 3vh;
  position: relative;
}

.pricing .barber_prices h5 {
  font-size: 40px;

  margin-left: 35vh;
}

.pricing .barber_prices .price  {
  float: right;
  margin-right: 35vh;
  
  font-size: 30px;
  font-weight: 600;
  color: var(--whiteish);
}

.pricing .barber_prices .duration {
  margin-left: 36vh;
  margin-top: 1vh;

  font-size: 25px;
}

/*SENIOR PRICE DESIGN*/

.pricing .senior_prices {
  width: 100%;
  padding-bottom: 3vh;
  position: relative;
}

.pricing .senior_prices h5 {
  font-size: 40px;

  margin-left: 35vh;
}

.pricing .senior_prices .price  {
  float: right;
  margin-right: 35vh;
  
  font-size: 30px;
  font-weight: 600;
  color: var(--whiteish);
}

.pricing .senior_prices .duration {
  margin-left: 36vh;
  margin-top: 1vh;

  font-size: 25px;
}

/** MOBILE VERSION **/

@media only screen and (max-width: 600px) {
  * {
    overflow: auto;
  }
  .logo {
    width: 30vh;
    height:30vh;
  }
  .hamburger-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
  
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 30px;
    height: 3.5px;
    background-color: #f8e4e4;
    transition: all 0.5s;
    border-radius: 20px;
  }
  .hambi .line-1 {
    transform: rotateZ(-45deg) translate(-6px, 8.25px);
  }
  .hambi .line-3 {
    transform: rotateZ(45deg) translate(-6px, -8.25px);
  }
  .navbar {
    width: 300px;
    right: -300px;
    align-items: start;
    backdrop-filter: blur(5px);
  }
  .change {
    right: 0px;
  }

  .nav-list {
    row-gap: 40px;
    margin-top: 100px;
  }
  .navlink {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding: 0px;
  }
  section ul {
    width: 100%;
    padding-top: 50px;
  }
  section li {
    height: 40px;
  }
  .script {
    justify-content: center;
    align-items: center;
  }
  .script h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2%;
  }
  section .btn {
    font-size: 32px;
    font-weight: 700;
    width: 300px;
    height: 80px;
    margin-top: 5vh;
    border-radius: 10px;
  }
  /*
  .card-list .card-item {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 20px;
  }
  .card-list .card-item .user-image {
    width: 12vh;
    height: 12vh;
    padding-bottom: 0px;
  }
  .slider-wrapper {
    display: flex;
  }
  .card-item {
    transform: translate3d(0,0,0);
    transform: scale(0.9);
    transition: all 0.25s ease-in-out;
  }
    */
}

@media only screen and (min-width: 601px) {
  * {
    overflow: auto;
  }
  .logo {
    width: 30vh;
    height:30vh;
  }
  .hamburger-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
  
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 30px;
    height: 3.5px;
    background-color: #f8e4e4;
    transition: all 0.5s;
    border-radius: 20px;
  }
  .hambi .line-1 {
    transform: rotateZ(-45deg) translate(-6px, 8.25px);
  }
  .hambi .line-3 {
    transform: rotateZ(45deg) translate(-6px, -8.25px);
  }
  .navbar {
    width: 300px;
    right: -300px;
    align-items: start;
    backdrop-filter: blur(5px);
  }
  .change {
    right: 0px;
  }

  .nav-list {
    row-gap: 40px;
    margin-top: 100px;
  }
  .navlink {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding: 0px;
  }
  section ul {
    width: 100%;
    padding-top: 50px;
  }
  section li {
    height: 40px;
  }
  .script {
    justify-content: center;
    align-items: center;
  }
  .script h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2%;
  }
  section .btn {
    font-size: 32px;
    font-weight: 700;
    width: 300px;
    height: 80px;
    margin-top: 5vh;
    border-radius: 10px;
  }
  /*
  .card-list .card-item {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 20px;
  }
  .card-list .card-item .user-image {
    width: 12vh;
    height: 12vh;
    padding-bottom: 0px;
  }
  .slider-wrapper {
    display: flex;
  }
  .card-item {
    transform: translate3d(0,0,0);
    transform: scale(0.9);
    transition: all 0.25s ease-in-out;
  }
    */
}

@media only screen and (min-width: 768px) and (max-width: 769px) {
  * {
    overflow: auto;
  }
  .logo {
    width: 30vh;
    height:30vh;
  }
  .hamburger-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
  
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 30px;
    height: 3.5px;
    background-color: #f8e4e4;
    transition: all 0.5s;
    border-radius: 20px;
  }
  .hambi .line-1 {
    transform: rotateZ(-45deg) translate(-6px, 8.25px);
  }
  .hambi .line-3 {
    transform: rotateZ(45deg) translate(-6px, -8.25px);
  }
  .navbar {
    width: 300px;
    right: -300px;
    align-items: start;
    backdrop-filter: blur(5px);
  }
  .change {
    right: 0px;
  }

  .nav-list {
    row-gap: 40px;
    margin-top: 100px;
  }
  .navlink {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    padding: 0px;
  }
  section ul {
    width: 100%;
    padding-top: 50px;
  }
  section li {
    height: 40px;
  }
  .script {
    justify-content: center;
    align-items: center;
  }
  .script h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2%;
  }
  section .btn {
    font-size: 32px;
    font-weight: 700;
    width: 300px;
    height: 80px;
    margin-top: 5vh;
    border-radius: 10px;
  }
  /*
  .card-list .card-item {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 20px;
  }
  .card-list .card-item .user-image {
    width: 12vh;
    height: 12vh;
    padding-bottom: 0px;
  }
  .slider-wrapper {
    display: flex;
  }
  .card-item {
    transform: translate3d(0,0,0);
    transform: scale(0.9);
    transition: all 0.25s ease-in-out;
  }
    */
}

/* RESPONSIVE CSS FOR LOWER HEIGHT */

@media only screen and (max-height: 790px) {
  .script h1 {
    margin-top: 5%;
  }
  .script .btn {
    scale: 82%;
  }
}

@media only screen and (max-height: 695px) {
  .script h1 {
    margin-top: 7%;
  }
  .script .btn {
    scale: 85%;
    width: 290px;
    height: 70px;
  }
}

@media only screen and (max-height: 628px) {
  .script h1 {
    margin-top: 11%;
  }
  .script .btn {
    scale: 76%;
    font-size: 27px;
    width: 280px;
    height: 70px;
  }
}

/*
.element {
  padding: 50px;
  margin: 10px 0;
  border: 1px solid #000;
}
*/
